
<!-- nav -->
<%-include('partials/navbar.ejs')%>
<head>
  <link rel="stylesheet" href="/css/gallery.css">
</head>

<section class="gallery">
  <h1>Gallery</h1>
  <%gallery.forEach(pic => {%>
  <div class="eventinfo">
    <hr>
    <h3><%=pic.eventTitle%></h3>
    <div class="row">
      <img src="/images/events/<%=pic.eventpic1%>" alt="Poster" class="eventphoto">
      <img src="/images/events/<%=pic.eventpic2%>" alt="Poster" class="eventphoto">
      <img src="/images/events/<%=pic.eventpic3%>" alt="Poster" class="eventphoto">
      <img src="/images/events/<%=pic.eventpic4%>" alt="Poster" class="eventphoto">
    </div>
  </div>
  <%});%>
</section>
