<!-- nav -->
<%-include('partials/navbar.ejs')%>


<!-- hero  -->
<%-include('hero.ejs')%>

<!-- goal  -->
<%-include('goal.ejs')%>

<!-- upcoming  -->
<%-include('upcoming.ejs')%>

<!-- pastEvent  -->
<%-include('pastEvent.ejs')%>


<!-- js links -->
<%-include('partials/js_links.ejs')%>
<!-- scroll top button -->
<a href="#top" id="topscroll">
    <i class="fa-solid fa-arrow-up"></i>
</a>
